.sidebar{
    padding: 20px 10px;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    font-size: 15px;
    scrollbar-width: none;
}
.sidebar svg{
    
    width: 25px;
    height: 25px;
    color:  var(--color);
}
#ham{
    margin-left: 10px;
    cursor: pointer;
    
}
.newchat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(171, 176, 180);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.recent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;

}
.recent:hover{
    background-color: rgb(117, 121, 123);

}
.newchat:hover{
    background-color: rgb(117, 121, 123);

}
@media (max-width: 768px) {
    
    .sidebar{
        padding: 10px 5px
    }
    #ham {
      font-size: 0.9rem; /* Adjust icon size */
    }
  
    .newchat p, .recent p {
      font-size: 0.7; /* Adjust font size */
    }
  }